* {
    font-family: roboto, sans-serif;
}
/*-----------------------------------top-------------------------------------------*/
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 18px;
    color:#E5E7EB;
}

h2, h3, p {
    color:#E5E7EB;
}

.main-logo {
    flex: 0 0 auto;
    background-color: transparent;
    max-height: 50px;
}

.main-title {
    background-color: transparent;
    max-height: 50px;
}

body {
    margin: 0;
}

.top {
    display: flex;
    flex-direction: column;
    background-color: rgb(30, 30, 30);
    margin: 0;
}

.header {
    flex: 1;
    display: flex;
    justify-content: space-between;
    margin: 0;
    background-color: black;
}

.left-header {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-left: 64px;
}

.right-header {
    display: flex;
    align-items: center;
    margin-right: 64px;
}


.banner {
    
    display: flex;
    justify-content: center;
    margin: 128px 150px;
    padding: 32px;
    align-self: center;
    border-radius: 12px;
    border: 1px solid black;
    box-shadow: 0 0 32px black;
}

.banner-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 700px;
    gap: 8px;
}

.banner-text h2 {
    flex: 0 1 auto;
    font-size: 48px;
    font-weight: 1000;
    margin: 0;
}

.banner-text p {
    flex: 0 1 auto;
    font-size: 18px;
    margin: 0;
}

.button-container {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}

button {
    flex: 1 1 auto;
    padding: 8px 24px;
    background-color: black;
    border-color: black;
    color:#E5E7EB;
    font-weight: 1000;
    border-style: solid;
    border-radius: 8px;
    max-width: 200px;
}

.banner-image {
    flex: 1 0 auto;
    max-width: 400px;
    margin: 8px;
    height: auto;
    border-radius: 12px;
    border: 1px solid black;
}

/*-----------------------------------mid-------------------------------------------*/

.mid h2 {
    margin: 0;
    font-size: 48px;
    margin-bottom: 32px;
}

.first-mid {
    margin: 0;
    padding: 64px 0;
    background-color: #440000;
    text-align: center;
}

.first-mid .images {
    display: flex;
    justify-content: space-evenly;
}
 .image-card {
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    border-radius: 12px;
    box-shadow: 0 0 16px black;
 }
 
 .first-mid .images img {
    flex: 0 0 auto;
    align-self: center;
 }

.second-mid {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(30, 30, 30);
    padding: 64px 0;
}

.isaac-crying-card {
    display: flex;
    justify-content: center;
    padding: 24px;
    border-radius: 12px;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0 0 64px #000000;
}

.isaac-crying-image {
    flex: 1 1 auto;
    max-width: 400px;
    height: auto;
}

.isaac-crying-text {
    text-align: center;
}

.isaac-crying-info {
    border: 8px groove rgb(70, 70, 70);
    padding: 8px;
    text-align: center;
    max-width: 400px;
    font-size: 24px;
}

.second-mid h3 {
    font-size: 32px;
}

.third-mid {
    background-color: #440000;
    display: flex;
    justify-content: center;
    padding: 64px;
}

.third-mid h2, .third-mid h3 {
    margin: 0;
}

.call-to-action {
    border: 1px solid black;
    border-radius: 12px;
    padding: 24px;
    display: flex;
    gap: 128px;
    align-items: center;
    box-shadow: 0 0 32px black;
}

.call-to-action button {
    padding: 16px 32px;
}




.footer {
    border: 2px solid blue;
    display: flex;
}




.image-card:hover {
    border: 1px solid red;
    transform: scale(1.1);
    box-shadow: 0 0 32px black;
 }

.banner-image:hover {
    border: 1px solid black;
    transform: scale(1.05);
    box-shadow: 0 0 32px black;
}

button:hover {
    border: 1px solid red;
    transform: scale(1.2);
}